http:
  middlewares:
    geoblock:
      plugin:
        geoblock:
          allowedCountries:
            - CA
            - US
          bannedCountries:
            - RU
            - CN
          api: "https://get.geojs.io/v1/ip/country.json"

  routers:
    magic-proxy-{{ app_name }}:
      rule: Host(`{{ app_name }}.{{ hostname }}`)
      entryPoints:
        - web
      middlewares:
        - geoblock
      service: magic-proxy-{{ app_name }}

  services:
    magic-proxy-{{ app_name }}:
      loadBalancer:
        servers:
          - url: "{{ target_url }}"
