http:
  routers:
    custom-custom:
      rule: Host(`custom`)
      service: svc-custom
    magic-proxy-service:
      rule: Host(`service.example.org`)
      service: magic-proxy-service
      entryPoints:
        - web
  services:
    svc-custom:
      loadBalancer:
        servers:
          - url: http://custom:9000
    magic-proxy-service:
      loadBalancer:
        servers:
          - url: http://service:7000
