version: '3.9'
services:
  web-testone:
    image: crccheck/hello-world
    container_name: web-1
    expose:
      - '8000'
    restart: 'no'
    x-magic-proxy:
      template: oidc.yml
      hostname: web1-asdlfassd-2.proxy.example.org
      target: http://10.0.1.1:9999
      idle: 20m
      auth:
        type: oidc
        provider: authentik
        scopes: openid profile email
        match: groups:admins
  web-test2:
    image: crccheck/hello-world
    container_name: web-test2
    expose:
      - '8004'
    restart: 'no'
    x-magic-proxy:
      template: oidc.yml
      hostname: webtwo.proxy.example.org
      target: http://10.0.0.210:8005
      idle: 20m
      auth:
        type: oidc
        provider: authentik
        scopes: openid profile email
        match: groups:admins
